<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-sm bg-light navbar-light navbar-fixed-top" th:fragment="header">
        <div class="container">
            <ul class="navbar-nav">
                <li th:classappend="${module == 'matchOverview' ? 'active' : ''}">
                    <a class="nav-link" href="#" th:href="@{/matches}" th:text="#{navigation.matches}"/>
                </li>
                <li th:classappend="${module == 'playerOverview' ? 'active' : ''}">
                    <a class="nav-link " href="#" th:href="@{/players/enter_player_name_here}" th:text="#{navigation.player.stats}"/>
                </li>
            </ul>
        </div>
    </nav>
</html>