<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Overview of matches</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>

<div class="container">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <p></p>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <strong th:text="#{overview.matches.recent}">Recent games</strong>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th th:text="#{overview.matches.team.one}"/>
                            <th th:text="#{overview.matches.team.score}"/>
                            <th th:text="#{overview.matches.team.two}"/>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="m,iter : ${matchList}">
                            <tr>
                                <td th:text="${iter.index + 1}"/>
                                <td><span th:text="${m.teamOne.players[0]}"/><br/><span th:text="${m.teamOne.players[1]}"/></td>
                                <td><span th:text="${m.teamOne.score} + ' : ' + ${m.teamTwo.score}"/></td>
                                <td><span th:text="${m.teamTwo.players[0]}"/><br/><span th:text="${m.teamTwo.players[1]}"/></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <strong th:text="#{overview.matches.player.ranking}">Player ranking</strong>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th th:text="#{overview.player.name}">Name</th>
                            <th th:text="#{overview.player.rating}">Glicko</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="p,iter : ${playerList}">
                            <tr>
                                <td th:text="${iter.index + 1}"/>
                                <td><span th:text="${p.name}"/></td>
                                <td><span th:text="${#numbers.formatDecimal(p.glicko,1,2)}"/></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/addmatch :: addmatch">&nbsp;</div>


</div>
</body>
</html>
