<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <title>Player</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <p>TODO: add graph here</p>
    <div class="card">
        <div class="card-header">
            <strong>Recent games</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Timestamp</th>
                    <th>Glicko</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="g,iter : ${recentGameList}">
                    <tr>
                        <td th:text="${iter.index + 1}"/>
                        <td><span th:text="${g.get('timestamp')}"/></td>
                        <td><span th:text="${g.get('glicko')}"/></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>