<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <title>Player</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header">&nbsp;</div>

    <!--<h3 align="center" th:text="#{overview.player.heading}"/>-->
    <div class="row">
        <div class="col-md">
            <p>
                 <strong th:text="#{overview.player.name}"/>: <span th:text="${name}"/>
            <br/><strong th:text="#{overview.player.game.count}"/>: <span th:text="${gameCount}"/>
            <br/><strong th:text="#{overview.player.game.win.count}"/>: <span th:text="${winCount}"/>
            <br/><strong th:text="#{overview.player.game.loss.count}"/>: <span th:text="${lossCount}"/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <strong>Recent games</strong>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th th:text="#{overview.player.timestamp}"/>
                            <th th:text="#{overview.player.glicko}"/>
                            <th th:text="#{overview.player.glicko.change}"/>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="g,iter : ${recentGameList}">
                            <tr>
                                <td th:text="${iter.index + 1}"/>
                                <td><span th:text="${g.timestamp}"/></td>
                                <td><span th:text="${g.glicko}"/>&plusmn;<span th:text="${g.deviation}"/></td>
                                <td><span th:text="${g.glickoChange}"/></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
